@use '../../style/colors.scss' as *;
.home {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1.6rem;

  background-color: $color-primary-pink;

  &__container {
    width: 124rem;
    padding: 5rem 0 2rem 0;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;

    &-2 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }

  &__responses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
  }
}
