$color-primary-pink: rgb(255, 192, 223);
$color-primary-green: rgb(0, 168, 160);
$color-secondary-green: rgb(0, 91, 73);
$color-secondary-pink: rgb(215, 95, 255);
$color-secondary-purple: rgb(104, 44, 255);
$color-highlight: #ffcc00;
$color-white: rgb(255, 255, 255);
$color-graphite: rgb(119, 119, 119);
