@use '../../style/colors.scss' as *;

.responseBox {
  width: 32rem;
  height: 16rem;
  padding: 2rem;

  border-radius: 1.2rem;
  background-color: $color-primary-green;

  overflow-y: auto;

  color: #ffffff;
  font-size: 1.6rem;

  @media only screen and (max-width: 425px) {
    width: 100%;
  }

  &__prompt {
    margin-bottom: 1rem;
  }

  &__prompt,
  &__response {
    line-height: 1.4;
    letter-spacing: 0.1px;

    span {
      letter-spacing: 0.3px;

      font-weight: 600;
      color: $color-highlight;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-secondary-green;
    border-top-right-radius: 1.2rem !important;
    border-bottom-right-radius: 1.2rem !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-secondary-pink;
    border-top-right-radius: 1.2rem !important;
    border-bottom-right-radius: 1.2rem !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-secondary-purple;
  }
}
